[submodule "DarkHelp"]
	path = DarkHelp
	url = https://github.com/Dakb00/darkhelp-private.git
[submodule "darknet"]
	path = darknet
	url = https://github.com/Dakb00/darknet-private.git
[submodule "zoneminder"]
	path = zoneminder
	url = https://github.com/ZoneMinder/zoneminder.git
